<!--Loader Mother HTML template-->
{% extends "FinalApp/mother.html" %}
{% load static %}

<!-- Title -->
{% block navbarbrand %}
Home
{% endblock %}

{% block titulopagina %} 
About
{% endblock %}

<!--Python H1 Title-->
{% block titulo %}

<div style= "color:white">
    <h4>
  
    Mi nombre es Kevin, he creado este blog para que la comunidad
    pueda compartir los titulos que mas les gustan y generar un ida 
    y vuelta entre todos!
   
</h4>

</div>
{% endblock %}

<!--H2 Titulo-->
{% block h2titulo %}

{% endblock%}

<!--Boton Home-->
{% block botonhome %}

{% endblock%}


<!--Python comision: 41635-->